{% extends 'base.html' %}
{% load static %}
{% block title %} Skystore {% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1>{{ category_name }}</h1>
        
        {% if products %}
            <div class="row">
                {% for product in products %}
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ product.name }}</h5>
                                <p class="card-text">{{ product.description|truncatewords:20 }}</p>
                                <p class="card-text">Цена: {{ product.price }} руб.</p>
                                
                                <!-- Ссылка на детальную страницу продукта -->
                                <a href="{% url 'catalog:product_detail' product.pk %}" class="btn btn-primary">Подробнее</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>В данной категории пока нет товаров</p>
        {% endif %}
    </div>
{% endblock %}
