{% extends 'base.html' %}
{% load static %}
{% block title %} Skystore {% endblock %}

{% block content %}
<div class="container mt-5">
    <!-- Кнопка добавления продукта -->
    <div class="text-center mb-4">
        <a href="{% url 'catalog:product_create' %}" class="btn btn-lg btn-primary">
            <i class="fas fa-plus"></i> Добавить новый продукт
        </a>
    </div>

    <!-- Здесь будет список продуктов -->
    <div class="row">
        <!-- Пример отображения карточек продуктов -->
        {% for product in products %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    {% if product.picture %}
                        <img src="{{ product.picture.url }}" class="img-fluid mb-3" alt="Изображение товара">
                    {% else %}
                        <img src="{% static 'вопрос.png' %}" class="img-fluid mb-3" alt="Нет изображения">
                    {% endif %}

                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">Цена: ${{ product.price }}</p>
                    <a href="{% url 'catalog:product_detail' product.pk %}" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        </div>
        {% empty %}
            <p>Продуктов пока нет</p>
        {% endfor %}
    </div>
</div>
{% endblock %}